<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>coredata_ios_essential.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>072EC1921C377E340000506D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>072EC1AE1C377E350000506D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>072EC1B91C377E350000506D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
