<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TwitterShareApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>07DB14391C1F8BCD00047BA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07DB14521C1F8BCD00047BA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07DB145D1C1F8BCD00047BA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
